In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('titanic.csv')
data.head()

,PassengerID,Name,PClass,Age,Sex,Survived,SexCode
0,1,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,3,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerID  1313 non-null   int64
 1   Name         1313 non-null   object
 2   PClass       1313 non-null   object
 3   Age          756 non-null    float64
 4   Sex          1313 non-null   object
 5   Survived     1313 non-null   int64
 6   SexCode      1313 non-null   int64
dtypes: float64(1), int64(3), object(3)
memory usage: 71.9+ KB

In [17]:
print(f"Введите среднее значение возраста пассажиров (округлите до целого): {round(data['Age'].mean())} \n")
print(f"Сгруппируйте пассажиров по полу и введите среднее значение возраста пассажиров мужского пола (округлите до целого):\
{round(data['Age'].groupby(data.Sex).mean())} \n")

print(f"Введите среднее значение возраста выживших пассажиров женского пола (округлите до целого):\
{round(data['Age'].where(data.Sex == 'female').groupby(data.Survived).mean())} \n")

print(f"Отсортируйте пассажиров по возрасту и введите значение 'PClass' у пассажира iloc[514] в этом списке: \
{data.sort_values(by=['Age'])['PClass'].iloc[514]}")

Введите среднее значение возраста пассажиров (округлите до целого): 30

Сгруппируйте пассажиров по полу и введите среднее значение возраста пассажиров мужского пола (округлите до целого):Sex
female    29.0
male      31.0
Name: Age, dtype: float64

Введите среднее значение возраста выживших пассажиров женского пола (округлите до целого):Survived
0    25.0
1    31.0
Name: Age, dtype: float64

Отсортируйте пассажиров по возрасту и введите значение 'PClass' у пассажира iloc[514] в этом списке: 2nd

In [18]:
data_pulsar = pd.read_csv('pulsar_stars_new.csv')
data_pulsar.head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

In [19]:
data_pulsar_1 = data_pulsar.loc[(data_pulsar['TG'] == 0) & (data_pulsar['MIP'] >= 84.3515625) & (data_pulsar['MIP'] <= 85.5234375)]
data_pulsar_2 = data_pulsar.loc[(data_pulsar['TG'] == 1) & (data_pulsar['MIP'] >= 47.4140625) &  (data_pulsar['MIP'] <= 52.9296875)]

data_pulsar_new = pd.concat([data_pulsar_1, data_pulsar_2])

data_pulsar_new.shape

(202, 9)

In [21]:
round(data_pulsar_new.MIP.mean(), 3)

67.553

In [133]:
data_weather = pd.read_csv('daily_weather_data.csv')
data_weather.head()

,date,country,city,Latitude,Longitude,tavg,tmin,tmax,wdir,wspd,pres
0,21-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,23.4,20.9,25.5,329.0,9.3,1009.6
1,22-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,23.5,21.0,25.7,337.0,9.4,1010.0
2,23-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,23.5,21.1,25.5,41.0,8.2,1007.7
3,24-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,24.3,20.8,27.1,10.0,9.3,1004.4
4,25-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,26.5,22.7,30.0,9.0,9.7,1002.0

In [134]:
data_weather['city'].nunique()

192

In [46]:
data_weather.tail()

,date,country,city,Latitude,Longitude,tavg,tmin,tmax,wdir,wspd,pres
324642,2022-10-07,Western Sahara,El Aaiún,27.125287,-13.1625,22.1,18.6,25.6,3.0,24.7,1013.7
324643,2022-10-08,Western Sahara,El Aaiún,27.125287,-13.1625,22.1,19.6,25.6,2.0,20.5,1013.0
324644,2022-10-09,Western Sahara,El Aaiún,27.125287,-13.1625,23.4,19.6,29.6,34.0,24.0,1015.4
324645,2022-10-10,Western Sahara,El Aaiún,27.125287,-13.1625,23.1,18.6,29.7,39.0,28.4,1017.6
324646,2022-10-11,Western Sahara,El Aaiún,27.125287,-13.1625,21.4,17.3,27.5,21.0,21.3,1018.6

In [139]:
data_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324647 entries, 0 to 324646
Data columns (total 11 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       324647 non-null  datetime64[ns]
 1   country    324647 non-null  object
 2   city       324647 non-null  object
 3   Latitude   324647 non-null  float64
 4   Longitude  324647 non-null  float64
 5   tavg       314963 non-null  float64
 6   tmin       312284 non-null  float64
 7   tmax       312269 non-null  float64
 8   wdir       283937 non-null  float64
 9   wspd       302400 non-null  float64
 10  pres       289416 non-null  float64
dtypes: datetime64[ns](1), float64(8), object(2)
memory usage: 27.2+ MB

In [141]:
data_weather['date'] = pd.to_datetime(data_weather.date)

In [138]:
round(data_weather['tavg'].where((data_weather['date'] >= '2022-01-01') & (data_weather['city'] == 'Doha')).mean(), 1)

29.2

In [55]:
import json
import pprint

In [57]:
with open('daily_json.js') as f:
    cb_rates = json.load(f)

pprint.pprint(cb_rates)

{'Date': '2024-02-21T11:30:00+03:00',
 'PreviousDate': '2024-02-20T11:30:00+03:00',
 'PreviousURL': '//www.cbr-xml-daily.ru/archive/2024/02/20/daily_json.js',
 'Timestamp': '2024-02-20T19:00:00+03:00',
 'Valute': {'AED': {'CharCode': 'AED',
                    'ID': 'R01230',
                    'Name': 'Дирхам ОАЭ',
                    'Nominal': 1,
                    'NumCode': '784',
                    'Previous': 25.1628,
                    'Value': 25.1461},
            'AMD': {'CharCode': 'AMD',
                    'ID': 'R01060',
                    'Name': 'Армянских драмов',
                    'Nominal': 100,
                    'NumCode': '051',
                    'Previous': 22.8529,
                    'Value': 22.8321},
            'AUD': {'CharCode': 'AUD',
                    'ID': 'R01010',
                    'Name': 'Австралийский доллар',
                    'Nominal': 1,
                    'NumCode': '036',
                    'Previous': 60.4732,
                    'Value': 60.3131},
            'AZN': {'CharCode': 'AZN',
                    'ID': 'R01020A',
                    'Name': 'Азербайджанский манат',
                    'Nominal': 1,
                    'NumCode': '944',
                    'Previous': 54.3589,
                    'Value': 54.3229},
            'BGN': {'CharCode': 'BGN',
                    'ID': 'R01100',
                    'Name': 'Болгарский лев',
                    'Nominal': 1,
                    'NumCode': '975',
                    'Previous': 50.8771,
                    'Value': 50.8813},
            'BRL': {'CharCode': 'BRL',
                    'ID': 'R01115',
                    'Name': 'Бразильский реал',
                    'Nominal': 1,
                    'NumCode': '986',
                    'Previous': 18.5719,
                    'Value': 18.6255},
            'BYN': {'CharCode': 'BYN',
                    'ID': 'R01090B',
                    'Name': 'Белорусский рубль',
                    'Nominal': 1,
                    'NumCode': '933',
                    'Previous': 28.5234,
                    'Value': 28.5345},
            'CAD': {'CharCode': 'CAD',
                    'ID': 'R01350',
                    'Name': 'Канадский доллар',
                    'Nominal': 1,
                    'NumCode': '124',
                    'Previous': 68.5332,
                    'Value': 68.4878},
            'CHF': {'CharCode': 'CHF',
                    'ID': 'R01775',
                    'Name': 'Швейцарский франк',
                    'Nominal': 1,
                    'NumCode': '756',
                    'Previous': 104.8805,
                    'Value': 104.7397},
            'CNY': {'CharCode': 'CNY',
                    'ID': 'R01375',
                    'Name': 'Китайский юань',
                    'Nominal': 1,
                    'NumCode': '156',
                    'Previous': 12.7662,
                    'Value': 12.797},
            'CZK': {'CharCode': 'CZK',
                    'ID': 'R01760',
                    'Name': 'Чешских крон',
                    'Nominal': 10,
                    'NumCode': '203',
                    'Previous': 39.0807,
                    'Value': 39.0862},
            'DKK': {'CharCode': 'DKK',
                    'ID': 'R01215',
                    'Name': 'Датская крона',
                    'Nominal': 1,
                    'NumCode': '208',
                    'Previous': 13.3485,
                    'Value': 13.3493},
            'EGP': {'CharCode': 'EGP',
                    'ID': 'R01240',
                    'Name': 'Египетских фунтов',
                    'Nominal': 10,
                    'NumCode': '818',
                    'Previous': 29.9131,
                    'Value': 29.8933},
            'EUR': {'CharCode': 'EUR',
                    'ID': 'R01239',
                    'Name': 'Евро',
                    'Nominal': 1,
                    'NumCode': '978',
                    'Previous': 99.4889,
                    'Value': 99.5589},
            'GBP': {'CharCode': 'GBP',
                    'ID': 'R01035',
                    'Name': 'Фунт стерлингов Соединенного королевства',
                    'Nominal': 1,
                    'NumCode': '826',
                    'Previous': 116.289,
                    'Value': 116.2397},
            'GEL': {'CharCode': 'GEL',
                    'ID': 'R01210',
                    'Name': 'Грузинский лари',
                    'Nominal': 1,
                    'NumCode': '981',
                    'Previous': 34.9615,
                    'Value': 34.9159},
            'HKD': {'CharCode': 'HKD',
                    'ID': 'R01200',
                    'Name': 'Гонконгский доллар',
                    'Nominal': 1,
                    'NumCode': '344',
                    'Previous': 11.8368,
                    'Value': 11.829},
            'HUF': {'CharCode': 'HUF',
                    'ID': 'R01135',
                    'Name': 'Венгерских форинтов',
                    'Nominal': 100,
                    'NumCode': '348',
                    'Previous': 25.5807,
                    'Value': 25.6319},
            'IDR': {'CharCode': 'IDR',
                    'ID': 'R01280',
                    'Name': 'Индонезийских рупий',
                    'Nominal': 10000,
                    'NumCode': '360',
                    'Previous': 59.033,
                    'Value': 59.0845},
            'INR': {'CharCode': 'INR',
                    'ID': 'R01270',
                    'Name': 'Индийских рупий',
                    'Nominal': 10,
                    'NumCode': '356',
                    'Previous': 11.1344,
                    'Value': 11.1238},
            'JPY': {'CharCode': 'JPY',
                    'ID': 'R01820',
                    'Name': 'Японских иен',
                    'Nominal': 100,
                    'NumCode': '392',
                    'Previous': 61.615,
                    'Value': 61.4349},
            'KGS': {'CharCode': 'KGS',
                    'ID': 'R01370',
                    'Name': 'Киргизских сомов',
                    'Nominal': 10,
                    'NumCode': '417',
                    'Previous': 10.3332,
                    'Value': 10.3264},
            'KRW': {'CharCode': 'KRW',
                    'ID': 'R01815',
                    'Name': 'Вон Республики Корея',
                    'Nominal': 1000,
                    'NumCode': '410',
                    'Previous': 69.2108,
                    'Value': 69.0408},
            'KZT': {'CharCode': 'KZT',
                    'ID': 'R01335',
                    'Name': 'Казахстанских тенге',
                    'Nominal': 100,
                    'NumCode': '398',
                    'Previous': 20.596,
                    'Value': 20.5156},
            'MDL': {'CharCode': 'MDL',
                    'ID': 'R01500',
                    'Name': 'Молдавских леев',
                    'Nominal': 10,
                    'NumCode': '498',
                    'Previous': 51.7168,
                    'Value': 51.6589},
            'NOK': {'CharCode': 'NOK',
                    'ID': 'R01535',
                    'Name': 'Норвежских крон',
                    'Nominal': 10,
                    'NumCode': '578',
                    'Previous': 87.6292,
                    'Value': 88.0319},
            'NZD': {'CharCode': 'NZD',
                    'ID': 'R01530',
                    'Name': 'Новозеландский доллар',
                    'Nominal': 1,
                    'NumCode': '554',
                    'Previous': 56.7352,
                    'Value': 56.6792},
            'PLN': {'CharCode': 'PLN',
                    'ID': 'R01565',
                    'Name': 'Польский злотый',
                    'Nominal': 1,
                    'NumCode': '985',
                    'Previous': 22.9482,
                    'Value': 23.0907},
            'QAR': {'CharCode': 'QAR',
                    'ID': 'R01355',
                    'Name': 'Катарский риал',
                    'Nominal': 1,
                    'NumCode': '634',
                    'Previous': 25.3874,
                    'Value': 25.3706},
            'RON': {'CharCode': 'RON',
                    'ID': 'R01585F',
                    'Name': 'Румынский лей',
                    'Nominal': 1,
                    'NumCode': '946',
                    'Previous': 20.007,
                    'Value': 20.0458},
            'RSD': {'CharCode': 'RSD',
                    'ID': 'R01805F',
                    'Name': 'Сербских динаров',
                    'Nominal': 100,
                    'NumCode': '941',
                    'Previous': 85.0483,
                    'Value': 84.8794},
            'SEK': {'CharCode': 'SEK',
                    'ID': 'R01770',
                    'Name': 'Шведских крон',
                    'Nominal': 10,
                    'NumCode': '752',
                    'Previous': 88.3294,
                    'Value': 88.5604},
            'SGD': {'CharCode': 'SGD',
                    'ID': 'R01625',
                    'Name': 'Сингапурский доллар',
                    'Nominal': 1,
                    'NumCode': '702',
                    'Previous': 68.7116,
                    'Value': 68.5896},
            'THB': {'CharCode': 'THB',
                    'ID': 'R01675',
                    'Name': 'Таиландских батов',
                    'Nominal': 10,
                    'NumCode': '764',
                    'Previous': 25.71,
                    'Value': 25.5512},
            'TJS': {'CharCode': 'TJS',
                    'ID': 'R01670',
                    'Name': 'Таджикских сомони',
                    'Nominal': 10,
                    'NumCode': '972',
                    'Previous': 84.3513,
                    'Value': 84.2931},
            'TMT': {'CharCode': 'TMT',
                    'ID': 'R01710A',
                    'Name': 'Новый туркменский манат',
                    'Nominal': 1,
                    'NumCode': '934',
                    'Previous': 26.4029,
                    'Value': 26.3854},
            'TRY': {'CharCode': 'TRY',
                    'ID': 'R01700J',
                    'Name': 'Турецких лир',
                    'Nominal': 10,
                    'NumCode': '949',
                    'Previous': 30.0523,
                    'Value': 29.9526},
            'UAH': {'CharCode': 'UAH',
                    'ID': 'R01720',
                    'Name': 'Украинских гривен',
                    'Nominal': 10,
                    'NumCode': '980',
                    'Previous': 24.3365,
                    'Value': 24.1216},
            'USD': {'CharCode': 'USD',
                    'ID': 'R01235',
                    'Name': 'Доллар США',
                    'Nominal': 1,
                    'NumCode': '840',
                    'Previous': 92.4102,
                    'Value': 92.349},
            'UZS': {'CharCode': 'UZS',
                    'ID': 'R01717',
                    'Name': 'Узбекских сумов',
                    'Nominal': 10000,
                    'NumCode': '860',
                    'Previous': 73.9878,
                    'Value': 73.9968},
            'VND': {'CharCode': 'VND',
                    'ID': 'R01150',
                    'Name': 'Вьетнамских донгов',
                    'Nominal': 10000,
                    'NumCode': '704',
                    'Previous': 38.538,
                    'Value': 38.498},
            'XDR': {'CharCode': 'XDR',
                    'ID': 'R01589',
                    'Name': 'СДР (специальные права заимствования)',
                    'Nominal': 1,
                    'NumCode': '960',
                    'Previous': 122.4213,
                    'Value': 122.3403},
            'ZAR': {'CharCode': 'ZAR',
                    'ID': 'R01810',
                    'Name': 'Южноафриканских рэндов',
                    'Nominal': 10,
                    'NumCode': '710',
                    'Previous': 48.9202,
                    'Value': 48.4311}}}

In [84]:
valutes = cb_rates['Valute']
pprint.pprint(sorted(valutes.items(), reverse=True)[36])

('BYN',
 {'CharCode': 'BYN',
  'ID': 'R01090B',
  'Name': 'Белорусский рубль',
  'Nominal': 1,
  'NumCode': '933',
  'Previous': 28.5234,
  'Value': 28.5345})

## Промежуточная аттестация 3

In [122]:
attestation = pd.read_csv('att1_075.csv')
attestation.head()

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,_id,nameRu,nameEn,year,posterUrl,...,directors[32].directorEn,directors[33].directorEn,directors[34].directorEn,directors[35].directorEn,filmId,type,amount,cur,directors,rating
0,0,0,0,0,0,647385e537c1458c9452b5ba,И целого мира мало,The World Is Not Enough,1999,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,6585,BUDGET,135000000.0,USD,1,7.034
1,1,1,1,1,1,647385e537c1458c9452b5bb,Суперагент Саймон,Simon Sez,1999,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,25189,BUDGET,10000000.0,USD,1,4.654
2,2,2,2,2,2,647385e537c1458c9452b5bc,Бойцовский клуб,Fight Club,1999,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,361,BUDGET,63000000.0,USD,1,8.664
3,3,3,3,3,3,647385e537c1458c9452b5bd,Паутина лжи,Random Hearts,1999,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,2761,BUDGET,64000000.0,USD,1,6.053
4,4,4,4,4,4,647385e637c1458c9452b5be,Любить по-русски 3: Губернатор,NaN,1999,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,94081,NaN,0.0,NaN,0,5.207

In [86]:
attestation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4438 entries, 0 to 4437
Data columns (total 96 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0.4              4438 non-null   int64
 1   Unnamed: 0.3              4438 non-null   int64
 2   Unnamed: 0.2              4438 non-null   int64
 3   Unnamed: 0.1              4438 non-null   int64
 4   Unnamed: 0                4438 non-null   int64
 5   _id                       4438 non-null   object
 6   nameRu                    4434 non-null   object
 7   nameEn                    3423 non-null   object
 8   year                      4438 non-null   int64
 9   posterUrl                 4438 non-null   object
 10  posterUrlPreview          4438 non-null   object
 11  countries[0].country      4438 non-null   object
 12  countries[1].country      1633 non-null   object
 13  countries[2].country      665 non-null    object
 14  genres[0].genre           4428 non-null   object
 15  genres[1].genre           3510 non-null   object
 16  genres[2].genre           2138 non-null   object
 17  duration                  4435 non-null   float64
 18  directors[0].directorRu   4406 non-null   object
 19  directors[1].directorRu   546 non-null    object
 20  directors[2].directorRu   205 non-null    object
 21  directors[3].directorRu   149 non-null    object
 22  directors[4].directorRu   125 non-null    object
 23  directors[5].directorRu   92 non-null     object
 24  directors[6].directorRu   60 non-null     object
 25  directors[7].directorRu   43 non-null     object
 26  directors[8].directorRu   24 non-null     object
 27  directors[9].directorRu   15 non-null     object
 28  directors[10].directorRu  12 non-null     object
 29  directors[11].directorRu  7 non-null      object
 30  directors[12].directorRu  5 non-null      object
 31  directors[13].directorRu  4 non-null      object
 32  directors[14].directorRu  3 non-null      object
 33  directors[15].directorRu  3 non-null      object
 34  directors[16].directorRu  2 non-null      object
 35  directors[17].directorRu  2 non-null      object
 36  directors[18].directorRu  2 non-null      object
 37  directors[19].directorRu  2 non-null      object
 38  directors[20].directorRu  2 non-null      object
 39  directors[21].directorRu  2 non-null      object
 40  directors[22].directorRu  1 non-null      object
 41  directors[23].directorRu  1 non-null      object
 42  directors[24].directorRu  1 non-null      object
 43  directors[25].directorRu  1 non-null      object
 44  directors[26].directorRu  1 non-null      object
 45  directors[27].directorRu  1 non-null      object
 46  directors[28].directorRu  1 non-null      object
 47  directors[29].directorRu  1 non-null      object
 48  directors[30].directorRu  1 non-null      object
 49  directors[31].directorRu  1 non-null      object
 50  directors[32].directorRu  1 non-null      object
 51  directors[33].directorRu  1 non-null      object
 52  directors[34].directorRu  1 non-null      object
 53  directors[35].directorRu  1 non-null      object
 54  directors[0].directorEn   3415 non-null   object
 55  directors[1].directorEn   382 non-null    object
 56  directors[2].directorEn   90 non-null     object
 57  directors[3].directorEn   42 non-null     object
 58  directors[4].directorEn   28 non-null     object
 59  directors[5].directorEn   22 non-null     object
 60  directors[6].directorEn   18 non-null     object
 61  directors[7].directorEn   16 non-null     object
 62  directors[8].directorEn   10 non-null     object
 63  directors[9].directorEn   7 non-null      object
 64  directors[10].directorEn  7 non-null      object
 65  directors[11].directorEn  3 non-null      object
 66  directors[12].directorEn  3 non-null      object
 67  directors[13].directorEn  2 non-null      object
 68  directors[14].directorEn  2 non-null      object
 69  directors[15].directorEn  2 non-null      object
 70  directors[16].directorEn  2 non-null      object
 71  directors[17].directorEn  2 non-null      object
 72  directors[18].directorEn  2 non-null      object
 73  directors[19].directorEn  2 non-null      object
 74  directors[20].directorEn  2 non-null      object
 75  directors[21].directorEn  1 non-null      object
 76  directors[22].directorEn  1 non-null      object
 77  directors[23].directorEn  1 non-null      object
 78  directors[24].directorEn  1 non-null      object
 79  directors[25].directorEn  1 non-null      object
 80  directors[26].directorEn  1 non-null      object
 81  directors[27].directorEn  1 non-null      object
 82  directors[28].directorEn  1 non-null      object
 83  directors[29].directorEn  1 non-null      object
 84  directors[30].directorEn  1 non-null      object
 85  directors[31].directorEn  1 non-null      object
 86  directors[32].directorEn  1 non-null      object
 87  directors[33].directorEn  1 non-null      object
 88  directors[34].directorEn  1 non-null      object
 89  directors[35].directorEn  1 non-null      object
 90  filmId                    4438 non-null   int64
 91  type                      1799 non-null   object
 92  amount                    4256 non-null   float64
 93  cur                       1695 non-null   object
 94  directors                 4438 non-null   int64
 95  rating                    4438 non-null   float64
dtypes: float64(3), int64(8), object(85)
memory usage: 3.3+ MB

In [106]:
attestation['nameEn_len'] = [len(attestation['nameEn'].tolist()[i]) for i in range(len(attestation['nameEn'].tolist()))]

In [107]:
attestation['nameEn_len'].min()

1

In [132]:
attestation.sort_values(by='directors', ascending=False)

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,_id,nameRu,nameEn,year,posterUrl,...,directors[32].directorEn,directors[33].directorEn,directors[34].directorEn,directors[35].directorEn,filmId,type,amount,cur,directors,rating
1309,1809,1809,1809,1809,1809,6473b2c537c1458c9452bccc,У каждого свое кино,Chacun son cinéma ou Ce petit coup au coeur qu...,2007,https://kinopoiskapiunofficial.tech/images/pos...,...,Lars von Trier,Wim Wenders,Wong Kar-Wai,Zhang Yimou,279724,RUS,188003.0,USD,35,7.130
1027,1418,1418,1418,1418,1418,647388a937c1458c9452bb44,"Париж, я люблю тебя","Paris, je t'aime",2006,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,77437,RUS,1048103.0,USD,22,7.544
3485,4985,4985,4985,4986,4986,64746c0c37c1458c9452c97a,"Берлин, я люблю тебя","Berlin, I Love You",2019,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,669654,NaN,0.0,NaN,13,5.779
1566,2316,2316,2316,2316,2316,6473b31b37c1458c9452bec8,"Нью-Йорк, я люблю тебя","New York, I Love You",2008,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,280540,BUDGET,NaN,USD,11,7.018
2975,4475,4475,4475,4476,4476,64746b3437c1458c9452c76c,"Страшные истории, рассказанные на ночь",A Night of Horror: Nightmare Radio,2019,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,1293037,NaN,0.0,NaN,11,5.426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3533,5033,5033,5033,5034,5034,64746c1337c1458c9452c9ad,Это не навсегда,NaN,2019,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,1232565,NaN,0.0,NaN,0,6.704
2572,4072,4072,4072,4073,4073,647468d837c1458c9452c5cd,Карман России,NaN,2021,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,4505456,NaN,0.0,NaN,0,8.140
1501,2180,2180,2180,2180,2180,6473b30437c1458c9452be3f,"Человек, который знал всё",NaN,2009,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,406628,RUS,160916.0,USD,0,5.946
3522,5022,5022,5022,5023,5023,64746c1237c1458c9452c9a1,Беглецы,NaN,2017,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,811571,NaN,0.0,NaN,0,6.251
2219,3624,3624,3624,3625,3625,6474684137c1458c9452c3f9,Звёзды мне укажут путь,NaN,2022,https://kinopoiskapiunofficial.tech/images/pos...,...,NaN,NaN,NaN,NaN,1162851,NaN,0.0,NaN,0,7.329

In [113]:
df = attestation.loc[(attestation['type'] == 'BUDGET') & (attestation['amount'] != 0)]

In [114]:
df.shape

(1152, 97)

In [117]:
round(df['rating'].loc[df['rating'] != 0].mean(), 3)

6.741