## Introduction to ML / Exercise 6

In [ ]:
import pandas as pd
import numpy as np

## Import data

##### The file contains the data on the average salary and population in Russia as of January 1, 2019 (according to the Russian Federal State Statistics Service). Imagine that someone has forgotten to mention Altai Region, Rostov Region, The Jewish Autonomous Region, Yamalo-Nenets Autonomous district, Amur Region. These regions should not be included in the summary. Please delete the data on these regions from the file and work with a new sample saved in the CSV format.

In [3]:
data = pd.read_csv('salary_and_population.csv')
data.head()

,Region_RU,Region_EN,AVG_Salary,Population,Unnamed: 4
0,Алтайский край,Altai Region,25960,218866,NaN
1,Амурская область,Amur Region,43156,793194,NaN
2,Архангельская область,Arkhangelsk Region,47526,1144119,NaN
3,Астраханская область,Astrakhan Region,32166,1014065,NaN
4,Белгородская область,Belgorod Region,31163,1547418,NaN

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Region_RU   85 non-null     object
 1   Region_EN   85 non-null     object
 2   AVG_Salary  85 non-null     int64
 3   Population  85 non-null     int64
 4   Unnamed: 4  0 non-null      float64
dtypes: float64(1), int64(2), object(2)
memory usage: 3.4+ KB

In [26]:
regions_delete = ['Altai Region', 'Rostov Region', 'The Jewish Autonomous Region',
                                   'Yamalo-Nenets Autonomous district', 'Amur Region']
data = data[data.Region_EN.isin (regions_delete) == False]
data.head()

,Region_RU,Region_EN,AVG_Salary,Population,Unnamed: 4
2,Архангельская область,Arkhangelsk Region,47526,1144119,NaN
3,Астраханская область,Astrakhan Region,32166,1014065,NaN
4,Белгородская область,Belgorod Region,31163,1547418,NaN
5,Брянская область,Bryansk Region,27403,1200187,NaN
6,Владимирская область,Vladimir Region,31647,1365805,NaN

In [31]:
# Find the sample mean of the salary: Enter the solution rounded to the hundredth.

print("sample mean of the salary = ", round(data.AVG_Salary.mean(), 3))

# Find the sample median  of the salary: Enter the solution rounded to the hundredth.

print("sample median of the salary = ", round(data.AVG_Salary.median(), 3))

# Find the variance estimate S^2 of the salary: Enter the solution rounded to the hundredth. In AzureML Studio use Population variance from Compute Elementary Statistics.

print("sample variance of the salary = ", round(data.AVG_Salary.var(ddof = 0), 3))


# Find the standard deviation sigma* of the salary: Enter the solution rounded to the hundredth. In AzureML Studio use Population standart deviation from Compute Elementary Statistics.

print("sample standard deviation of the salary = ", round(data.AVG_Salary.std(ddof = 0), 3))

sample mean of the salary =  38432.288
sample median of the salary =  32723.0
sample variance of the salary =  252680444.88
sample standard deviation of the salary =  15895.925